.comment-box{
    border: 1px solid var(--grey);
    background-color: white;
    text-align: center;
    width:100%
    /* max-width: 500px; */
}

.comment-box-bottom{
    background-color: rgb(231, 216, 216);
}

.comment-button {
    margin-left: 20px;
}